services:
  traefik:
    image: traefik:v2.10
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./infra/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
    depends_on:
      - backend
      - waha
    networks:
      - web

  backend:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    command: /start.sh
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`localhost`) || Host(`backend.localhost`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"
    env_file:
      - .env
    depends_on:
      - waha
    networks:
      - web

  waha:
    image: devlikeapro/waha
    environment:
      - WHATSAPP_DEFAULT_ENGINE=WEBJS
      - WHATSAPP_HOOK_URL=http://backend:8000/webhook/
      - WHATSAPP_HOOK_EVENTS=message.any
      - WAHA_API_KEY=${WAHA_API_KEY}
      # Credenciais do Dashboard WAHA fixadas
      - WAHA_DASHBOARD_USERNAME=${WAHA_DASHBOARD_USERNAME}
      - WAHA_DASHBOARD_PASSWORD=${WAHA_DASHBOARD_PASSWORD}
      - WHATSAPP_SWAGGER_USERNAME=${WHATSAPP_SWAGGER_USERNAME}
      - WHATSAPP_SWAGGER_PASSWORD=${WHATSAPP_SWAGGER_PASSWORD}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.waha.rule=Host(`waha.localhost`)"
      - "traefik.http.routers.waha.entrypoints=web"
      - "traefik.http.services.waha.loadbalancer.server.port=3000"
    env_file:
      - .env
    volumes:
      - ./waha-sessions:/app/.sessions
    networks:
      - web


  # db:
  #   image: postgres:13-alpine
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data/
  #   environment:
  #     - POSTGRES_USER=hello_django
  #     - POSTGRES_PASSWORD=hello_django
  #     - POSTGRES_DB=hello_django_dev

# volumes:
#   postgres_data:

networks:
  web:
    driver: bridge
