{% extends 'dashboard/base.html' %}

{% block content %}
<h2>Últimas Interações</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Usuário</th>
            <th>Tipo</th>
            <th>Mensagem</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.created_at|date:"d/m/Y H:i" }}</td>
            <td>{{ log.user.phone_number }}</td>
            <td>
                {% if log.message_type == 'SENT' %}
                <span class="badge bg-primary">Bot</span>
                {% else %}
                <span class="badge bg-success">User</span>
                {% endif %}
            </td>
            <td>{{ log.message_content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}